@page "/play/{GameName}"
@using Hangman.Logic
@inject NavigationManager navManager

<PageTitle>Hangman</PageTitle>

@if (playerMe == null)
{
    <p>Waiting for the opponent to join...</p>
}
else if (!playerMe.Word.CompletelyGuessed() && !playerMe.HasGuesses() &&
         !playerOther.Word.CompletelyGuessed() && !playerOther.HasGuesses())
{
    <h3>Game Over</h3>
    if (playerMe.Score == playerOther.Score)
    {
        <p>It's A Tie!</p>
    }
    else if (playerMe == game?.Player1 && game?.Player1?.Score > game?.Player2?.Score ||
             playerMe == game?.Player2 && game?.Player2?.Score > game?.Player1?.Score)
    {
        <p>You Win @playerMe.Name!</p>
    }
    else
    {
        <p>You Lose @playerMe.Name!</p>
    }
}
else if (playerMe.Word.CompletelyGuessed() && playerOther.Word.CompletelyGuessed())
{
    if (playerMe == game?.Player1 && game?.Player1?.Score > game?.Player2?.Score ||
        playerMe == game?.Player2 && game?.Player2?.Score > game?.Player1?.Score)
    {
        <p>You Win @playerMe.Name!</p>
    }
    else
    {
        <p>You Lose @playerMe.Name!</p>
    }
}
else
{
    <div class="game-container">
        <div class="player-left">
            <h3>Player: @playerMe.Name</h3>
            <p>Score: @playerMe.Score</p>
            <img src="@getImagePath(playerMe)" alt="Hangman State" />
            @foreach(char letter in playerMe.Word.GuessedLetters)
            {
            <p>Word: @letter </p>
            }
        </div>

        <div class="game-board">
            <h1>Make Your Guess!</h1>
            <p>Remaining Guesses: @playerMe.MaxMissedGuesses</p>
            <input type="text" @bind="guess" maxlength="1" placeholder="Guess Letter" />
            <button @onclick="() => makeGuess(playerMe, guess)">Check Guess</button>
            @if(playerMe.Word.RemainingLetterCount <= playerMe.Word.WordToGuess.Length - 3)
            {
                <input type="text" @bind="guess" maxlength=  placeholder="Guess Word"/>
                <button @onclick="() => makeCompleteGuess(playerMe, guess)">Check Word Guess</button>
            }
        </div>

        <div class="player-right">
            <h3>Opponent: @playerOther.Name</h3>
            <p>Score: @playerOther.Score</p>
            <img src="@getImagePath(playerOther)" alt="Hangman State" />
            @foreach(char letter in playerOther.Word.GuessedLetters)
            {
            <p>Word Progress:
                @if(letter == '_')
                {
                    <span>_ </span>
                }
                else
                {
                    <span>? </span>
                } 
            </p>
            }
        </div>
    </div>
}




@code {
    [Parameter]
    public string GameName { get; set; }

    Player? playerMe;
    Player? playerOther;
    Game game;

    [SupplyParameterFromQuery]
    public string PlayerName { get; set; }
    string guess;

    protected override void OnParametersSet()
    {
        game = Lobby.GetGame(GameName);

        if (game == null)
            navManager.NavigateTo("/");

        if (game?.Player1?.Name == PlayerName)
            playerMe = game.Player1;

        else if (game?.Player2?.Name == PlayerName)
            playerMe = game.Player2;

        playerOther = playerMe == game?.Player1 ? game?.Player2 : game?.Player1;
        game = new(playerMe, playerOther, Game.SelectWordToGuess());

        game.GameStateChanged += handleGameStateChanged;
    }

    void makeGuess(Player player, string guess)
    {
        if (player.Word.CheckGuess(guess[0]))
        {
            player.UpdateScore(5);
        }
        else
        {
            player.AddToMissedGuesses(guess[0]);
        }
        InvokeAsync(StateHasChanged);
    }

    void makeCompleteGuess(Player player, string guess)
    {
        if (player.Word.CheckCompleteGuess(guess))
        {
            player.UpdateScore(player.Word.RemainingLetterCount * 10);
        }
        else
        {
            player.RemoveAGuess();
        }
        InvokeAsync(StateHasChanged);
    }

    void handleGameStateChanged()
    {
        if (playerOther == null)
            playerOther = playerMe == game.Player1 ? game.Player2 : game.Player1;

        InvokeAsync(StateHasChanged);

        game.GameReset += () => navManager.NavigateTo("/");

    }

    void playAgain()
    {
        game.ResetGameState(Game.SelectWordToGuess());
    }

    string getImagePath(Player player)
    {
        return player?.MaxMissedGuesses switch
        {
            6 => "/hang0.bmp",
            5 => "/hang1.bmp",
            4 => "/hang2.bmp",
            3 => "/hang3.bmp",
            2 => "/hang4.bmp",
            1 => "/hang5.bmp",
            0 => "/hang6.bmp",
        };
    }
}